<footer class="pt-5 d-flex justify-content-between">
  <span
    >Copyright © <%= new Date().getFullYear() %> <a href="#">Bi Games</a></span
  >
  <ul class="nav m-0">
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" href="#"
        >Privacy Policy</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Terms and conditions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">Contact</a>
    </li>
  </ul>
</footer>
