<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bi Game</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container position-relative">
      <!-- dashboard.ejs -->

      <!-- rest of the template -->

      <% if(locals.messages) { %> <% if (messages.error) { %>
      <div
        class="alert alert-danger alert-dismissible fade show m-5 w-75 position-absolute start-50 translate-middle"
        role="alert"
      >
        <% messages.error.forEach(function(message) { %> <%= message %> <% });
        %>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% if (messages.success) { %>
      <div
        class="alert alert-success alert-dismissible fade show m-5 w-75 position-absolute start-50 translate-middle"
        role="alert"
      >
        <% messages.success.forEach(function(message) { %> <%= message %> <% });
        %>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %> <% } %>
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="mx-auto">
          <button
            class="btn btn-primary btn-lg mr-3"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Admin
          </button>
          <a href="http://localhost:4000/api/v1/docs">
            <button class="btn btn-primary btn-lg">Documentation</button>
          </a>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="myModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
        >
          <div class="modal-dialog" role="document">
            <class class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Login - Register</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Pills navs -->
                <ul
                  class="nav nav-pills nav-justified mb-3"
                  id="ex1"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="tab-login"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-login"
                      role="tab"
                      aria-controls="pills-login"
                      aria-selected="true"
                    >
                      Login
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="tab-register"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-register"
                      role="tab"
                      aria-controls="pills-register"
                      aria-selected="false"
                    >
                      Register
                    </button>
                  </li>
                </ul>
                <!-- Pills navs -->

                <!-- Pills content -->
                <div class="tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="pills-login"
                    role="tabpanel"
                    aria-labelledby="tab-login"
                  >
                    <form action="/login" method="post">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input
                          type="email"
                          id="loginName"
                          class="form-control"
                          placeholder="Username"
                          name="username"
                        />
                      </div>

                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          id="loginPassword"
                          class="form-control"
                          placeholder="Password"
                          name="password"
                        />
                      </div>

                      <!-- 2 column grid layout -->

                      <!-- Submit button -->
                      <div class="d-grid col-12 mx-auto">
                        <button
                          type="submit"
                          class="btn btn-outline-secondary mb-3"
                        >
                          Sign in
                        </button>
                      </div>
                    </form>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="pills-register"
                    role="tabpanel"
                    aria-labelledby="tab-register"
                  >
                    <form action="/register" method="post">
                      <!-- Username input -->
                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="registerUsername"
                          class="form-control"
                          placeholder="Username"
                          name="username"
                        />
                      </div>
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                        <input
                          type="password"
                          id="registerPassword"
                          class="form-control"
                          placeholder="Password"
                          name="password"
                        />
                      </div>

                      <!-- Submit button -->
                      <div class="d-grid col-12 mx-auto">
                        <button
                          type="submit"
                          class="btn btn-outline-secondary mb-3"
                        >
                          Register
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Pills content -->
              </div>
            </class>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
